          
<section class="element-second mt-5 pt-5">
     <div class="container">
          <div class="row pt-5">
               <div class="col-12 col-md-4 px-5 px-sm-0">
                    <div class="card get-started-title">
                         <div class="card-body pl-0 pt-5">
                              <h3 class="card-title card-title-modif">Ayo Mulai Dengan Travelmu</h3>
                              <p class="card-text"><b style="font-size: 20px;font-style: italic;">Yuk!!. </b>Bangun bisnis travel umrah dan hajimu dengan Satu Apps. Temukan kemudahan-kemudahannya.</p>
                              <a href="#" class="btn btn-info btn-modif-frontend-a"><b>Join Sekarang</b></a>
                         </div>
                    </div>
               </div>
               <div class="col-12 col-md-8  pt-4 px-5 px-sm-0" >
                    <div class="owl-carousel owl-theme">
                         <div class="item">
                              <div class="card card-modif-2">
                                   <div class="card-body">
                                        <center>
                                                  <img class="img1 mb-4" src="static/img/easy.png" alt="">
                                                  <h5 class="info-img">Mudah Digunakan</h5>
                                        </center>
                                   </div>
                              </div>
                         </div>
                         <div class="item">
                              <div class="card card-modif-2">
                                   <div class="card-body">
                                        <center>
                                                  <img class="img1 mb-4" src="static/img/chart.png" alt="">
                                                  <h5 class="info-img">Laporan Lengkap</h5>
                                        </center>
                                   </div>
                              </div>
                         </div>
                         <div class="item">
                              <div class="card card-modif-2">
                                   <div class="card-body">
                                        <center>
                                                  <img class="img1 mb-4" src="static/img/easy.png" alt="">
                                                  <h5 class="info-img">Mudah Digunakan</h5>
                                        </center>
                                   </div>
                              </div>
                         </div>
                         <div class="item">
                              <div class="card card-modif-2">
                                   <div class="card-body">
                                        <center>
                                                  <img class="img1 mb-4" src="static/img/easy.png" alt="">
                                                  <h5 class="info-img">Mudah Digunakan</h5>
                                        </center>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
