<section class="element-third mt-5 pt-5">
     <div class="container">
          <div class="row pt-0 text-center">
               <div class="col-12 col-lg-6 mx-auto px-5 px-sm-0">
                         <h1 class="title-price mx-auto">Harga Berlangganan SATU APPS</h1>
                         <p class="mx-auto info-desc-detail">Berikut ini adalah harga berlangganan dari aplikasi SATU APPS. Harga dibawah ini sudah termasuk biaya pengembangan jadi terjadi update terhadap setiap pengguna.</p>
               </div>
               <div class="w-100"></div>
               <div class="col-12 col-lg-4 mx-auto px-5 px-sm-0">
                    <div class="card">
                         <div class="card-header card-header-modif">
                                   Price
                         </div>
                         <div class="card-body card-body-price">
                              <div class="display-harga ">
                                        <div class="harga-formatted">
                                                  <span class="kurs">Rp</span>
                                                  <span class="harga">100</span>
                                                  <span class="ribuan"><i>000</i><i>/Bulan</i></span>
                                        </div>
                              </div>
                              <h4 class="card-title text-center mb-0" style="font-size: 17px;color: #5e5e5e;min-height: 76px;">Solusi tepat untuk pengembangan travelmu.</h4>
                              <table class="table text-left table-borderless" style="font-size:15px;color: #5e5e5e;">
                                   <tbody>
                                   <tr>
                                             
                                             <td class="px-0 py-2 px-3" style="width:80%;">Transaksi Tanpa Batas</td>
                                             <td class="px-0 py-1 px-3 text-right">
                                                       <img class="img1 mb-0" src="static/img/checked.png" alt="" style="height: 80% !important;width: 80% !important;">
                                             </td>
                                   </tr>
                                   <tr>
                                             
                                             <td class="px-0 py-2 px-3" >Transaksi Tiket</td>
                                             <td class="px-0 py-1 px-3 text-right">
                                                       <img class="img1 mb-0" src="static/img/checked.png" alt="" style="height: 80% !important;width: 80% !important;">
                                             </td>
                                   </tr>
                                   <tr>
                                             
                                             <td class="px-0 py-2 px-3" >Transaksi Paket</td>
                                             <td class="px-0 py-1 px-3 text-right">
                                                       <img class="img1 mb-0" src="static/img/checked.png" alt="" style="height: 80% !important;width: 80% !important;">
                                             </td>
                                   </tr>
                                   <tr>
                                             
                                             <td class="px-0 py-2 px-3" >Transaksi Paket LA</td>
                                             <td class="px-0 py-1 px-3 text-right">
                                                       <img class="img1 mb-0" src="static/img/checked.png" alt="" style="height: 80% !important;width: 80% !important;">
                                             </td>
                                   </tr>
                                   <tr>
                                             
                                             <td class="px-0 py-2 px-3" >Laporan Kas Paket</td>
                                             <td class="px-0 py-1 px-3 text-right">
                                                       <img class="img1 mb-0" src="static/img/checked.png" alt="" style="height: 80% !important;width: 80% !important;">
                                             </td>
                                   </tr>
                                   <tr>
                                             
                                             <td class="px-0 py-2 px-3" >Pendaftaran Jamaah</td>
                                             <td class="px-0 py-1 px-3 text-right">
                                                       <img class="img1 mb-0" src="static/img/checked.png" alt="" style="height: 80% !important;width: 80% !important;">
                                             </td>
                                   </tr>
                                   <tr>
                                             
                                             <td class="px-0 py-2 px-3" >Deposit Saldo</td>
                                             <td class="px-0 py-1 px-3 text-right">
                                                       <img class="img1 mb-0" src="static/img/checked.png" alt="" style="height: 80% !important;width: 80% !important;">
                                             </td>
                                   </tr>
                                   <tr>
                                             
                                             <td class="px-0 py-2 px-3" >Pendaftaran Agen</td>
                                             <td class="px-0 py-1 px-3 text-right">
                                                       <img class="img1 mb-0" src="static/img/checked.png" alt="" style="height: 80% !important;width: 80% !important;">
                                             </td>
                                   </tr>
                                   <tr>
                                             
                                             <td class="px-0 py-2 px-3" >Klaim Fee Keagenan</td>
                                             <td class="px-0 py-1 px-3 text-right">
                                                       <img class="img1 mb-0" src="static/img/checked.png" alt="" style="height: 80% !important;width: 80% !important;">
                                             </td>
                                   </tr>
                                   <tr>
                                             
                                             <td class="px-0 py-2 px-3" >Laporan Buku Besar</td>
                                             <td class="px-0 py-1 px-3 text-right">
                                                       <img class="img1 mb-0" src="static/img/checked.png" alt="" style="height: 80% !important;width: 80% !important;">
                                             </td>
                                   </tr>
                                   <tr>
                                             
                                             <td class="px-0 py-2 px-3" >Laporan Neraca Lajur</td>
                                             <td class="px-0 py-1 px-3 text-right">
                                                       <img class="img1 mb-0" src="static/img/checked.png" alt="" style="height: 80% !important;width: 80% !important;">
                                             </td>
                                   </tr>
                                   <tr>
                                             
                                             <td class="px-0 py-2 px-3" >Laporan Laba Rugi</td>
                                             <td class="px-0 py-1 px-3 text-right">
                                                       <img class="img1 mb-0" src="static/img/checked.png" alt="" style="height: 80% !important;width: 80% !important;">
                                             </td>
                                   </tr>
                                   <tr>
                                             
                                             <td class="px-0 py-2 px-3" >WA Blash</td>
                                             <td class="px-0 py-1 px-3 text-right">
                                                       <img class="img1 mb-0" src="static/img/checked.png" alt="" style="height: 80% !important;width: 80% !important;">
                                             </td>
                                   </tr>
                                        <tr>
                                                  <td colspan="2" class="py-4">
                                                            <a class="btn btn-info mx-0 btn-modif-frontend-a w-100" target="_blank" href="http://amra-app.com/Users/Sign_up"><b>Coba Sekarang</b></a>
                                                  </td>
                                        </tr>
                                   </tbody>
                              </table>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>