<section class="element-four mt-5 pt-5 pb-5" style="background-color: white;">
     <div class="container">
          <div class="row pt-0">
               <div class="col-3">
                    <%- include('../component/contact_component') %>
               </div>
               <div class="col-3">
                    <%- include('../component/sosial_media_component') %>
               </div>
               <div class="col-3">
                    <%- include('../component/informasi_layanan_component') %>
               </div>
               <div class="col-3">
                    <%- include('../component/tentang_component') %>
               </div>
          </div>
     </div>
</section>