<body class="hold-transition login-page" style="min-height: 387.5px;">
          <div style="display: none;" id="loader"></div>
          <div class="row w-100">
               <div class="col-4" style="background-image: url(/static/img/login-img.png);height: 100vh;opacity: 0.3;">
               </div>
               <div class="col-8" style="height: 100vh;display: flex;justify-content: center;box-shadow: 0px 0px 36px #cfcfcf;">
                    <div class="login-box mx-auto my-auto" >
                         <div class="card d-inline-block p-4 w-100" style="box-shadow: 0px 0px 0px #dfdfdf;border-radius: 10px;">
                               <form enctype="multipart/form-data" method="post" onsubmit="sign_in(event)" id="form">
                                    <div class="login-logo mb-0 mt-3 px-3 pt-3 pb-0">
                                         <a href="/" class="brand-link pb-0">
                                              <div class="row text-center mb-2">
                                                   <img src="/static/img/logo.png" alt="Outlet Pulsa" class="brand-image mx-auto" style="opacity: .8;max-height: 40px;">
                                              </div>
                                              <div class="row mt-4 text-left px-1">
                                                   <span class="brand-text font-weight-bold" style="color: #495057;">Log In</span>
                                              </div>
                                         </a>
                                         <div class="btn-group btn-group-toggle w-100 px-1" data-toggle="buttons">
                                              <label class="btn btn-info w-50 active level" >
                                                   <input type="checkbox" name="level" class="level_check_box" checked="" autocomplete="off" onclick="change_level(this)" value="administrator"> Administrator
                                              </label>
                                              <label class="btn btn-info w-50 level">
                                                   <input type="checkbox" name="level" class="level_check_box" autocomplete="off" onclick="change_level(this)" value="staff"> Staff
                                              </label>
                                         </div>
                                    </div>
                                    <div class="card-body login-card-body">
                                         <div class="row" >
                                              <div class="col-12" id="form-login-areas">
                                                   <%- include('../component/input_component', { type : 'text', name : 'username', placeholder: 'Username', icon : 'fa-envelope'}) %>     
                                                   <%- include('../component/input_component', { type : 'password',  name : 'password', placeholder: 'Password', icon : 'fa-lock'}) %>     
                                              </div>
                                         </div>
                                         <div class="row mb-3 mt-4">
                                              <div class="col-12">
                                                   <button type="submit" class="btn btn-info btn-block">Masuk</button>
                                              </div>
                                         </div>
                                         <p class="login-box-msg text-left p-0">Belum punya akun ? <a href="/Users/Register" target="_blank" rel="noopener noreferrer"><b>Daftar disini</b></a> </p> 
                                    </div>
                               </form>
                           </div>
                      </div>
               </div>
          </div>
         
           <script type="text/javascript">
                function sign_in(e) {
                     e.preventDefault();
                     ajax_default({
                          url: 'Users/Login_process',
                          method: "post",
                          form: true,
                          loader:true
                     }, function(e, xhr) {
                          smile_alert('Login Berhasil Dilakukan');
                          window.location.href = base_url + "/Users?cc=" + e.company_code + '&type=' + e.type + "&code=" + e.kode ;
                     },function(e, xhr){
                          frown_alert(xhr.msg);
                     });
                }

                function change_level(e) {
                    const input_login = (param) =>  {
                         return  ` <div class="input-group mb-3">
                                        <input type="${param.type}" autocomplete="off" class="form-control" placeholder="${param.placeholder}" name="${param.name}">
                                        <div class="input-group-append">
                                             <div class="input-group-text">
                                                  <span class="${param.icon}"></span>
                                             </div>
                                        </div>
                                   </div>`;
                    }
                    
                    $(".level").removeClass("active").children().prop("checked", false);
                    $(e).addClass('active').prop("checked", true);

                    var checkbox_value = $('.level_check_box:checkbox:checked').val();
                    var html = '';
                    if( checkbox_value == 'administrator'){
                         html += input_login({type: 'text', placeholder: 'Username', name: 'username', icon : 'fas fa-envelope' });
                         html += input_login({type: 'password', placeholder: 'Password', name: 'password', icon : 'fas fa-lock' });
                    } else if( checkbox_value == 'staff' ) {
                         html += input_login({type: 'text', placeholder: 'Kode Perusahaan', name: 'company_code', icon : 'fas fa-building' });
                         html += input_login({type: 'text', placeholder: 'Whatsapp Number', name: 'whatsapp', icon : 'fab fa-whatsapp' });
                         html += input_login({type: 'password', placeholder: 'Password', name: 'password', icon : 'fas fa-lock' });
                    }
                    $('#form-login-areas').html(html);
                }
           </script>
      </body>