<section class="element-four mt-5 pt-5">
     <div class="container">
          <div class="row pt-0 text-center">
               <div class="col-12 col-lg-6 mx-auto px-5 px-sm-0">
                    <h1 class="title-price mx-auto">PARTNER KAMI</h1>
               </div>
               <div class="w-100 my-4"></div>
               <div class="col-12 col-lg-4 mx-auto px-5 px-sm-0">
                    <div class="owl-carousel-partner owl-theme">
                    <div class="item">
                         <img class="img1 mb-4" src="static/img/logo-abu-siraj.png" style="height: 100px;width: auto !important;">
                    </div>
                    </div>
               </div>
          </div>
     </div>
</section>